body {
  font-family: "Roboto", sans-serif;
  background-image: url(img/bg-netflix.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  width: 100%;
}

header {
  margin: 30px;
}

main {
  width: 350px;
  height: 500px;
  padding: 50px 50px 140px 50px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}

main div h1 {
  color: white;
}

form {
  width: 100%;
  color: rgb(181, 181, 181);
}

form .conten input {
  width: 326px;
  height: 30px;
  margin: 8px auto;
  border-radius: 5px;
  border-style: none;
  padding: 12px;
  background-color: rgb(87, 87, 87);
}

form .conten button {
  width: 100%;
  height: 50px;
  margin-top: 35px;
  border-radius: 5px;
  border-style: none;
  margin-bottom: 15px;
  background-color: red;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

form .conten2 {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

form .conten2 a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

form .conten2 a:hover {
  text-decoration: underline;
}

main .main2 {
  color: rgb(109, 109, 109);
}

main .main2 a {
  text-decoration: none;
}

main .main2 small {
  font-size: 11px;
}

main .main2 p a {
  color: white;
}

footer {
  margin-top: 80px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 30px 30px 70px;
  color: rgb(109, 109, 109);
}

footer h4 {
  font-size: 20px;
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
  color: rgb(109, 109, 109);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: rgb(109, 109, 109);
  padding: 10px 30px 30px 50px;
}
